<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Golang</title>
</head>
<body>
<form action="/input/test" method="post">
    Name:<input type="text" name="name">
    Address:<input type="text" name="address">
    <input type="submit" value="Submit">
</form>
</body>
</html>